.hero {
  background: linear-gradient(
    102.68deg,
    rgba(106, 159, 154, 0.47) 0%,
    rgba(106, 159, 154, 0.82) 67.12%,
    #5e9792 99.99%,
    #6a9f9a 100%
  );
  padding: 100px 0 60px;
  .copy {
    padding: 40px 0;
    h2 {
      margin-bottom: 20px;
    }
    p {
      margin-bottom: 30px;
    }

    .btn_box {
      display: flex;
      gap: 20px;
    }
    .backed_wrap {
      padding-top: 50px;
      img {
        width: 300px;
      }
      p {
        font-size: 20px;
      }
    }
  }
  h1 {
    font-size: 42px;
    line-height: 1.2em;
  }
}