header {
  position: absolute;
  width: 100%;
  padding: 25px 20px;
}
.header___wrapper {
  margin: 0 auto;
  max-width: 1440px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
.header___logo {
  &_link {
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    display: flex;
    align-items: center;
    gap: 6px;
  }
}
.rightContent{
  display: flex;
  justify-content: space-between;
}

.flex_items{
  padding-left: 20px;
  margin-right: 40px;
  margin-top: 10px;
  font-size: 18px;
}
 
    
.header___btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 100%;

  a{
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    
  }
  @media (max-width: 900px) {
    a {
      font-size: 16px;
    }
  }
}

.by-passiv {
  font-size: 11px;
  font-weight: 400;
  float: right;
  position: relative;
  top: 25px;
  left: -55px;
}
