/* Break points */
$min-width-md: 600px;
$min-width-l: 900px;
$min-width-xl: 1200px;

$desktop: 1200px;
$tablet: 1024px;
$mobile: 768px;
$width: 1440px;
$slices: 12;


/* Colors */
$theme-black: 	#1F2627;
$theme-yellow: 	#EBB964;
$theme-teal:  	#6A9F9A;
$theme-blue: 	#3C507B;
$theme-grey: #F5F5F5;
